# Required env variables for docker
COMPOSE_PROJECT_NAME= # must be unique!
DOCUMENT_ROOT=/var/www/html/public
DOMAIN=
USER_UID=1000
GROUP_UID=1000
DB_HOST=mysql

# Add your custom env variables below
DB_DATABASE=app
DB_USERNAME=app
DB_PASSWORD=local
